In [61]:
import numpy as np
import pandas as pd
from scipy.stats import spearmanr
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [62]:
X_train = pd.read_csv('X_train.csv')
Y_train = pd.read_csv('Y_train.csv')

In [63]:
train = pd.concat([X_train , Y_train], axis = 1)

In [64]:
train = train.loc[:,['DAY_ID','COUNTRY','DE_CONSUMPTION','FR_CONSUMPTION','DE_FR_EXCHANGE','FR_DE_EXCHANGE','TARGET']]

In [65]:
# Fill missing values with 0
train.fillna(0, inplace=True)

In [66]:
train_de = train[train['COUNTRY'] == 'DE']
train_fr = train[train['COUNTRY'] == 'FR']

In [67]:
train_de.head()

,DAY_ID,COUNTRY,DE_CONSUMPTION,FR_CONSUMPTION,DE_FR_EXCHANGE,FR_DE_EXCHANGE,TARGET
3,720,DE,-0.983324,-0.849198,-0.839586,0.839586,-0.260356
11,116,DE,-0.055692,-0.811337,0.237105,-0.237105,-0.133381
12,406,DE,0.532116,-0.331101,0.339942,-0.339942,0.196312
13,1175,DE,-0.328286,-1.062255,-1.380464,1.380464,-0.025477
14,309,DE,1.028987,1.629315,1.129663,-1.129663,0.460278

In [68]:
target_de = train_de['TARGET']
train_de = train_de.drop('TARGET', axis=1)

In [69]:
train_de.head()

,DAY_ID,COUNTRY,DE_CONSUMPTION,FR_CONSUMPTION,DE_FR_EXCHANGE,FR_DE_EXCHANGE
3,720,DE,-0.983324,-0.849198,-0.839586,0.839586
11,116,DE,-0.055692,-0.811337,0.237105,-0.237105
12,406,DE,0.532116,-0.331101,0.339942,-0.339942
13,1175,DE,-0.328286,-1.062255,-1.380464,1.380464
14,309,DE,1.028987,1.629315,1.129663,-1.129663